.card-title {
  font-size: 14px;
  text-decoration: none;
}
.card-text {
  font-size: 14px;
}
.rating span {
  color: #f0c040;
}

.btn-buy {
  background-color: #f9495f;
  color: #fff;
  font-size: 14px;
}
